# If u want to Pull the projcet from my Repo and start it with your own host 
# this is how u should make your .env becuse it should be secured so i cant push it wiht the repo 
# ==========================================
# SQL Server
# ==========================================

ConnectionStrings__cs=Server=sqlserver;Database=ECommerce;User Id=sa;Password=!;TrustServerCertificate=True;Encrypt=False;

# ==========================================
# Redis
# ==========================================

ConnectionStrings__Redis=redis:6379

# ==========================================
# JWT
# ==========================================

JWT__Key=YourSuperSecretJWTKeyHere
JWT__Issuer=ECommerceApi
JWT__Audience=ECommerceUsers

# ==========================================
# MailKit
# ==========================================

MailKit__Server=smtp.gmail.com
MailKit__Port=587
MailKit__SenderName=ECommerce
MailKit__SenderEmail=your-email@gmail.com
MailKit__Account=your-email@gmail.com
MailKit__Password=your-gmail-app-password
MailKit__Security=true

# ==========================================
# Default Admin Account
# ==========================================

Admin__AdminMail=admin@example.com
Admin__AdminPassword=AdminPassword123!

# ==========================================
# Docker SQL Server
# ==========================================

SA_PASSWORD=!

# ==========================
# Hangfire Dashboard
# ==========================

Hangfire__UserName=User
Hangfire__Password=Pass
